:host {
  display: block !important;
}
.meo-slot-picker {
  position: relative !important;
}
.meo-popup {
  position: absolute !important;
  z-index: 999 !important;
  background-color: white !important;
  padding: 2px !important;
  margin: 3px 0px !important;
  box-shadow: 0 0 10px lightgray !important;
  border: 1px solid whitesmoke !important;
}
.meo-scroll {
  max-height: 200px !important;
  overflow-y: overlay !important;
}
.meo-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}
.meo-scroll::-webkit-scrollbar:vertical {
  width: 12px;
}
.meo-scroll::-webkit-scrollbar:horizontal {
  height: 12px;
}
.meo-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 3px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}
.meo-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}
.meo-input {
  min-width: 275px !important;
  cursor: pointer !important;
}
.meo-paginate, .meo-close, .meo-back {
  padding: 2px 10px !important;
  cursor: pointer !important;
  font-size: medium !important;
}
.meo-paginate-disabled {
  color: lightgrey !important;
}
.meo-table {
  table-layout: fixed !important;
  width:100% !important;
  margin-bottom: 0px !important;
}
.meo-tr.meo-equal-width>*:nth-last-child(2)~*{ width:50% !important}
.meo-tr.meo-equal-width>*:nth-last-child(3)~*{ width:33.3% !important}
.meo-tr.meo-equal-width>*:nth-last-child(4)~*{ width:25% !important}
.meo-tr.meo-equal-width>*:nth-last-child(5)~*{ width:20% !important}
.meo-tr.meo-equal-width>*:nth-last-child(6)~*{ width:16.7% !important}
.meo-tr.meo-equal-width>*:nth-last-child(7)~*{ width:14.3% !important}
.meo-th, .meo-td {
  border: 1px solid whitesmoke !important;
  border-collapse: collapse !important;
}
.meo-table {
  border: 1.5px solid whitesmoke !important;
  border-collapse: collapse !important;
}
.meo-th, .meo-td {
  padding: 3px !important;
  text-align: center !important;
  overflow: hidden !important;
}
.meo-right-end {
  text-align: right !important;
  width: 15% !important;
}
.meo-left-end {
  text-align: left !important;
  width: 15% !important;
}
.meo-grid {
  font-size: small !important;
  min-width: 275px !important;
}
.meo-day, .meo-time {
  padding: 2px !important;
}
.meo-cell-enabled {
  color: black !important;
}
.meo-grid .meo-tr {
  height: 1.75rem !important;
}
@media only screen and (min-width: 768px) {
  .meo-cell-enabled:hover {
    color: white !important;
    background-color: black !important;
  }
}
.meo-cell-selected {
  color: white !important;
  background-color: black !important;
}
.meo-day-enabled, .meo-day-selected, .meo-time-enabled, .meo-time-selected {
  cursor: pointer !important;
}
.meo-day-disabled {
  color: lightgray !important;
  cursor: not-allowed !important;
}
.meo-center {
  border-right: 0px !important;
  border-left: 0px !important;
}
.meo-left-end {
  border-right: 0px !important;
}
.meo-right-end {
  border-left: 0px !important;
}
.meo-empty-grid .meo-th, .meo-empty-grid .meo-td {
  border: 1px solid white !important;
}
.meo-no-slots-text {
  color: gray !important;
}
